<template>
  <div class="wrapper">
    <p>This is the landing page</p>
    <ul class="list-todo">
      <li v-for="todo in todos">{{ todo.content }}</li>
    </ul>
  </div>
</template>

<script>
import { Api } from 'shared';

export default {
  data: () => ({
    todos: []
  }),
  created() {
    Api.get('users')
      .then((res) => {
        this.todos = res.data.body;
      });
  }
};
</script>

<style lang="postcss">
</style>
